<div class="loading-indicator-container size-small pull-right">
	<div class="control-pagination">
		<span class="page-iteration">
			<?= e(trans('backend::lang.list.pagination', ['from' => $pageFrom, 'to' => $pageTo, 'total' => $recordTotal])) ?>
		</span>
		<?php if ($pageCurrent > 1): ?>
			<a
				href="javascript:;"
				class="page-back"
				data-request="<?= $this->getEventHandler('onPaginate') ?>"
				data-request-data="page: <?= $pageCurrent-1 ?>"
				data-load-indicator="<?= e(trans('backend::lang.list.loading')) ?>"
				title="<?= e(trans('backend::lang.list.prev_page')) ?>"></a>
		<?php endif ?>
		<?php if ($pageLast > $pageCurrent): ?>
		<a
			href="javascript:;"
			class="page-next"
			data-request-data="page: <?= $pageCurrent+1 ?>"
			data-request="<?= $this->getEventHandler('onPaginate') ?>"
			data-load-indicator="<?= e(trans('backend::lang.list.loading')) ?>"
			title="<?= e(trans('backend::lang.list.next_page')) ?>"></a>
		<?php endif ?>
	</div>
	
	
	<input type="hidden" name="<?= $this->getFieldName('page') ?>" value="<?= $pageCurrent ?>" />
	
	
</div>